  <!-- início Modal Login Operador -->
  <div class="modal fade" id="modalEmailCliente" tabindex="-1" aria-labelledby="modalEmailClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/endececo/create/" class="form-group" method="post">
          <input id="ownerToken" name="ownerToken" hidden maxlength="32" type="text"> 
          
        <div class="modal-header">
          <h5 class="modal-title" id="modalEmailClienteLabel">Cadastrar emails</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control" required placeholder="Informe o e-mail principal" aria-label="Informe o e-mail principal" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                <input type="email" class="form-control" placeholder="Informe o e-mail secundário" aria-label="Informe o e-mail secundário" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"><i class="bi bi-check"></i> Salvar</button>
        </div>
      </div>
    </fom>
    </div>
  </div>
  <!-- início Modal Login Operador -->
