  <!-- início Modal Login Operador -->
  <div class="modal fade" id="modalEndereco" tabindex="-1" aria-labelledby="modalEndereco" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEnderecoLabel">Informe o Endereço</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-compass"></i></span>
            <select required class="form-select" aria-label="Default select example">
              <option></option>
              <% if (arrlistaEstadosBrasileiros != undefined) { %>
                <% arrlistaEstadosBrasileiros.forEach(e => { %>
                  <option value="<%= e.sigla  %>"><%= e.nome  %> - <%= e.sigla  %></option>
                <% }) %>
               
              <% } %>
            </select>
        </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-map"></i></span>
                <input maxlength="100" type="text" class="form-control" placeholder="Informe a Cidade" aria-label="Informe a Cidade" aria-describedby="client-city">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
              <input type="text" class="form-control" placeholder="Informe a rua ou avenida" aria-label="Informe a rua ou avenida" aria-describedby="client-street">
            </div>


            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-pin-map"></i></span>
              <input type="text" class="form-control" placeholder="Informe um ponto de referência" aria-label="Informe um ponto de referência" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Nº</span>
              <input type="text" class="form-control" placeholder="20A" aria-label="210A">
              <span class="input-group-text">CEP</span>
              <input type="text" class="form-control" placeholder="53110-080" aria-label="53110-080">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success"><i class="be bi-check"></i> Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- início Modal Login Operador -->
