<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../menu/menu.ejs') %>
    <div class="container">

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card">
        <img src="img/user.png" class="card-img-top card-img-change-login-type" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Operador</h5>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginOperador">Acessar Módulo Operador</button>
          <!-- Button trigger modal LoginOperador -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="img/loja.png" class="card-img-top card-img-change-login-type" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Loja Parceira</h5>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginLojista">Acessar Módulo Lojista</button>
          <!-- Button trigger modal LoginLojista -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="img/gerente.png" class="card-img-top card-img-change-login-type" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Gerente Regional</h5>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginGerenteRegional">Acessar Módulo Gestor</button>
          <!-- Button trigger modal LoginOperador -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <%- include('../login-modal-popups/login-modal-popups.ejs') %>
  </div>

</div>
</body>
<%- include('../../partials/footer.ejs') %>
